<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416394256570-ql9eojaa2mtjib9ojbiof1b6mtt9393c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416394256570-ql9eojaa2mtjib9ojbiof1b6mtt9393c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>416394256570-l738cm6corv5llsqr3r3gi1jafcpiehk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyYNBYWa5esxkG7yLnxNCnelbBWJ8gnZI</string>
	<key>GCM_SENDER_ID</key>
	<string>416394256570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geniusv.karigari</string>
	<key>PROJECT_ID</key>
	<string>karigari-11b3a</string>
	<key>STORAGE_BUCKET</key>
	<string>karigari-11b3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416394256570:ios:c3cab93ceb799042b02283</string>
	<key>DATABASE_URL</key>
	<string>https://karigari-11b3a.firebaseio.com</string>
</dict>
</plist>